rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null
        && request.auth.token.email in ['k79204@gmail.com'];
    }

    match /registrations/{docId} {
      allow create: if true;
      allow read: if isAdmin();
      allow update, delete: if false;
    }

    match /settings/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
