rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /brochures/{fileName} {
      allow read: if true;
      allow write: if request.resource.contentType == 'application/pdf';
    }
  }
}
